@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* etiquetas compartidas */
.page-size{
    height: clamp(100vh, 100vh,100vmax);
    width: clamp(100vw, 100vw,100vmax);
    padding: 1rem;
}
.visible-on{
    display: flex;
}
.visible-off{
    display: none;
}
.center{ 
    align-items: center;
    justify-content: center;
}
.column{
    flex-direction: column;
}
/* LOGIN */
/*FONDO LOGIN*/
.fondo-login{
    background-color: #34495e;
}
.login-size{
    width: 20rem;
    height: auto;
    padding: 5%;
}
.login-transparency{
    background-color: #191919;
    border-radius: 5%;
}
/*Estilo de las cajas*/
.txt-style{
    font-family: sans-serif;
}
.txt-style-title{
    color: white;  
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
}
.box-style-input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box-style-input:focus{
    width: 280px;
    border-color:#28cc71 ;
}
.btn-style-login{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #28cc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.btn-style-login:hover{
    background-color:#28cc71;
}
.img-size{
    width: 7.5rem;
    margin: 2% 0%;
}
.error{
    color: rgb(211, 78, 78);
    font-size: 0.8rem;
}
/*HOME*/
.bg-home{
    /* background: linear-gradient(0deg, #091018, #0f0f7a, #1c71e0) */
    background: linear-gradient(45deg, #0B193C 0%, #3125A2 56%, #431998 100%);
}
.txt-white{
    width: 75%;
    font-family: sans-serif;
    color: #ffffffc2;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5px;
}
.txt-yellow{
    font-family: 'Rubik', sans-serif;
    color: #f1f11ad8;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bolder;
    margin-right: 1%;
}
.template-home{
    background-color: rgba(128, 128, 128, 0.192);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    padding: 3% 2.5em;
}
.millonario-logo{
    height: 15em;
    margin-bottom: clamp(1em, 3em, 2.5%);
}
.btn-style-home{
    background: none;
    width: 30rem;
    display: inline-block;
    margin: 0.4em auto;
    text-align: center;
    outline: none;
    padding: 0.8rem 1em;
    background: linear-gradient(to right, #021b79, #0575e6, #021b79);
    color: #ffffffa3;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1em, 1.5em, 2em);
    clip-path: polygon(15% 0, 85% 0, 90% 50%, 85% 100%, 15% 100%, 10% 50%);
    transition: 0.25s;
    cursor: pointer;
}
.btn-style-home:hover{
    background: linear-gradient(to right, #010e05, #28cc71, #011402);
}
.btn-style-log-out:hover{
    background: linear-gradient(to right, #010e05, #cc3b28, #011402);
}

/*Select difficulty*/
.template-difficulty{
    background-color: rgba(128, 128, 128, 0.192);
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 20px;
}
.top-right{
    align-self: flex-end;
    background: none;
    outline: none;
    border: none;
}
.btn-close{
    width: clamp(0.8rem, 2rem, 3.5rem);
    height: clamp(0.8rem, 2rem, 3.5rem);;
    margin: 7px;
}
.btn-close:hover{
    background: rgb(238, 68, 68);
}
.separate{
    display: flex;
    flex-direction: column;
}
.btn-style-difficulty{
    width: clamp(25vw, 40vw, 55vw);
    height: clamp(8vh, 8vh, 14vh);
    padding: 0rem auto;
    border-radius: 5%;
    margin: clamp(0.3rem, 0.5rem, 0.8rem );
    font-family: 'Rubik', sans-serif;
    font-size: clamp(0.8rem, 1.5rem, 2.5rem);
    font-weight: 700;
    color: rgb(235, 223, 223);
    clip-path: polygon(15% 0, 85% 0, 90% 50%, 85% 100%, 15% 100%, 10% 50%);
    background: linear-gradient(to left, #021b79, #0575e6, #021b79);
}
.btn-style-difficulty:hover{
    background: linear-gradient(to right, #010e05, #28cc71, #011402);
}

/*Template game*/
.txt-question{
    font-family: sans-serif;
    color: #ffffffe3;
    font-weight: 500;
    font-size: clamp(1.4rem, 1.8em, 2.2rem);
    text-align: center;
}
.game-transparency{
    background-color: rgba(128, 128, 128, 0.192);
    width: clamp(80vw, 90vw, 98vw);
    height: clamp(70vh, 75vh, 85vw) ;
    padding: 2%;
    border-radius: 3%;
}
.game-template{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [top-line] auto [medium-line] auto [bottom-line] auto; 
    row-gap: clamp(0.2rem, 0.4rem, 0.5rem);
    column-gap: 1em;
}
.game-content{
    grid-column: x0/x2;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    background: linear-gradient(to left, #021b79, #0e6ac5, #021b79);
}
.btn-flex{
    display: flex;
    justify-content: center;
}
.btn-game-style{
    clip-path: polygon(20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0% 50%);  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bg-button-game{
    background: linear-gradient(to left, #021b79, #0e6ac5, #021b79);
}
.bg-button-game:hover{
    background: linear-gradient(to left, #021b79, #0481ff, #021b79);
}
.bg-correct{
    background: linear-gradient(to right, #010e05, #28cc71, #011402);
}
.bg-incorrect{
    background: linear-gradient(to right, #010e05, #cc3b28, #011402);
}


#game-over{
    background-color: aquamarine;
}